---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Shows from "../components/Shows.astro";
import ConcertModal from "../components/ConcertModal.astro";
import Media from "../components/Media.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";


// concerts
const concerts = await getCollection("concerts");
const upcoming: CollectionEntry<"concerts">[] = concerts
  .filter((concert) => new Date(concert.data.date) >= new Date())
  .sort(
    (a, b) =>
      new Date(a.data.date).getTime() -
      new Date(b.data.date).getTime()
  );

const nextConcert = upcoming[0];

//pages
const pages = await getCollection("pages");
const about = pages.find((p) => p.id.includes("about"));
if (!about) {
  throw new Error("about.md not found in content/pages");
}


//settings
const settingsCollection = await getCollection("settings");
const settings = settingsCollection[0];

//social
const social = await getCollection("social");

//modal
let showModal = false;

if (nextConcert) {
  const diff =
    (new Date(nextConcert.data.date).getTime() - Date.now()) /
    (1000 * 60 * 60 * 24);
  showModal = diff <= 30; // Show modal if concert is within the next
}
---

<Layout>
  <Header />
  <main id="main-content">
    <Hero />
    <About content={about} />
    <Shows concerts={concerts} />
    <Media socials={social} />
    <Contact settings={settings} />
    <Footer settings={settings}  />
    {showModal && <ConcertModal concert={nextConcert} />}
  </main>
</Layout>
